@import url("./reset.css");
@import url("./theme.css");
@import url("./font.css");

:root {
  font-family: var(--body-font);
  color: var(--text-medium);
}

#app {
  display: flex;
  background-color: var(--0dp);
  color: var(--text-medium);
  font-size: 1.2rem;
}
